.galery__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  padding-bottom: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

